<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Montserrat:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="assets/plugins/slick/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>Alexandra Dunham</title>
</head>
<body class="home" id="app">
  <div class="nav-mobile">
    <i class="fa fa-bars" aria-hidden="true" @click="navMob()"></i>
    <div class="nav-list" v-show="navShow == true">
        <a href="#about" @click="navShow = false">About</a>
        <a href="#slider-section" @click="navShow = false">Portfolio</a>
        <a href="#contact" @click="navShow = false">Contact</a>
    </div>
  </div>

  <section id="home">
     <div class="jumbotron">
      <h1 class="name">Alexandra Dunham</h1>
      <p class="title">Front end developer</p>
      

        <!-- <div class="prompt">
        <a href="#slider-section" class="text-center">See my work</a>
      </div> -->
      </div>
  </section>
    <section id="about">
    <p class="jumbo-header">Hi there.</p>
    <p>My name is Alex, and I like to make sweet websites.</p>
    <p>I regularly dream in javascript, I've never once missed a deadline, and I love my work.</p>
    <p>When I'm not imagining the world in dev terms (a recent gem was 'debugging the toaster') I like to watch period dramas, make jewellery, and look at pictures of puppies.</p>

    <a class="resume-link">See my resume here</a>
    
  </section>
  <section class="slider-wrap" id="slider-section">
     <div class="closeButton" @click="fullScreenClose()"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="slider">
      <div class="slides" v-for="portfolio in portfolio">
        <div class="slide-wrap circle" @click="fullScreenOpen($index)"  v-bind:style='{backgroundImage:"url("+ portfolio.mainImage +")", backgroundSize:"cover"}' v-bind:class="{'slide-inner': fullScreen == true}" >
        </div>
        <div v-show="fullScreen == true" class="slide-content-wrap">
         
            <div class="slide-description">
              <div class="split">
                <div class="project-description left">
                  <h4 class="bold-title">{{portfolio.name}}</h4>
                  <p class="remove-padding">{{portfolio.byline}}</p>
                </div>
                <div class="project-scope">
                  <p class="bold">Project Summary:</p>
                  <ul>
                    <li v-for="scope in portfolio.scope">{{scope}}</li>
                  </ul>
                </div>
              </div>
              <div class="project-journey">
                <div class="project-images" v-for="image in portfolio.images">
                  <img v-bind:src="image.link">
                  <p>{{image.caption}}</p>
                </div>
              </div>
            
            </div>
        </div>
      </div>
    </div>
    <!-- <div class="prompt">
      <a href="#about" class="text-center">Who am I?</a>
    </div> -->

  </section>

  <section id="contact">
    <p class="jumbo-header">Let's talk.</p>
    <p>e: <a href="mailto:alexandracdunham@gmail.com">alexandracdunham@gmail.com</a> </p>
     <p>p: <a href="tel:0210648037">021 064 8037</a> </p>

     <div class="prompt">
      <a href="#home" class="text-center">Back to top</a>
    </div>
  </section>
 

  


  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="assets/js/vue.js"></script>


  <script type="text/javascript" src="assets/plugins/slick/slick.min.js"></script>

  <script src="assets/js/typed.js"></script>

  <script src="assets/js/custom.js"></script>


</body>
</html>
