<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Homemade+Apple|Montserrat:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="assets/plugins/slick/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>Alexandra Dunham</title>
</head>
<body class="home" id="app">
  <div class="navbar" v-show="clicked == 0">
    <div class="navbar-brand">
      <div class="logo"><h1 class="name-logo">Alex<br>Dunham</h1></div>
    </div>
  </div>
  <section id="home">
     <div class="jumbotron">
        <p class="jumbo-header">I AM:</p>
        <h2 class="text-center">front end developer</h2>
        <h2 class="text-center">design minded</h2>
        <h2 class="text-center">barrel of laughs</h2>
      </div>
  </section>
  <section class="slider-wrap" id="slider-section">
     <div class="closeButton" @click="fullScreenClose()"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="slider">
      <div class="slides" v-for="portfolio in portfolio">
        <div class="slide-wrap circle" @click="fullScreenOpen($index)"  v-bind:style='{backgroundImage:"url("+ portfolio.mainImage +")", backgroundSize:"cover"}' v-bind:class="{'slide-inner': fullScreen == true}" >
        </div>
        <div v-show="fullScreen == true" class="slide-content-wrap">
         
            <div class="slide-description">
              <div class="split">
                <div class="project-description left">
                  <h4 class="bold-title">{{portfolio.name}}</h4>
                  <p class="remove-padding">{{portfolio.byline}}</p>
                </div>
                <div class="project-scope">
                  <ul>
                    <li v-for="scope in portfolio.scope">{{scope}}</li>
                  </ul>
                </div>
              </div>
              <div class="project-journey">
                <div class="project-images" v-for="image in portfolio.images">
                  <img v-bind:src="image.link">
                  <p>{{image.caption}}</p>
                </div>
              </div>
            
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <p class="jumbo-header">Hi there.</p>
    <p>My name is Alex, and I like to make sweet websites.</p>
    <p>I thrill at the thought of code, and I regularly dream in javascript.</p>
    <p>When I'm not imagining the world in dev terms (some gems have been 'debugging the toaster', and wanting to 'command+f' to find my lost socks) I like to watch period dramas, make jewellery, and look at pictures of puppies.</p>

    <a class="resume-link">See my resume here</a>
 <!--    <div class="split">
      <div class="left">
        <p class="skills-lists">Things I'm great at:</p>

        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>SASS</li>
          <li>Javascript & Jquery</li>
          <li>Vue.js</li>
          <li>Bootstrap</li>
          <li>Git version control</li>
          <li>Wordpress</li>
        </ul>
      </div>
      <div class="left">        
        <p class="skills-lists">Other stuff you'll love about me:</p>

        <ul>
          <li>I earned myself the office nickname of 'Drag [and drop] Queen' for my interaction skills</li>
          <li>I can pick up new languages and technology quickly (so far these have included Silverstripe, Laravel/Blade, and Shopify/Liquid)</li>
          <li>I'm skilled at creating mobile first, responsive sites from PSD mockups</li>
          <li>I write clean, validated code according to industry best practices</li>
          <li>I have never once missed a deadline</li>
          <li>I have a working knowledge of PHP</li>
        </ul>
      </div>
      

    </div> -->

    
  </section>
  <section id="contact">
    <p class="jumbo-header">Let's talk.</p>
    <p>e: <a href="mailto:alexandracdunham@gmail.com">alexandracdunham@gmail.com</a> </p>
     <p>p: <a href="tel:0210648037">021 064 8037</a> </p>
  </section>
 

  


  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="assets/js/vue.js"></script>


  <script type="text/javascript" src="assets/plugins/slick/slick.min.js"></script>

  <script src="assets/js/typed.js"></script>

  <script src="assets/js/custom.js"></script>


</body>
</html>
