p, li, a {
  font-family: "Montserrat", sans-serif; }

h1, h2, h3 {
  font-family: "Montserrat", sans-serif; }

h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }

.name {
  font-family: "Homemade Apple", cursive;
  color: white;
  font-size: 50px; }

.name-logo {
  font-family: "Homemade Apple", cursive;
  margin-left: 15px;
  font-size: 22px;
  padding-top: 20px; }

body {
  background: linear-gradient(to bottom, rgba(255, 216, 238, 0.3), rgba(199, 249, 246, 0.6));
  margin: 0;
  min-height: 100vh; }

.body-wrap-loader {
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }

/*navbar*/
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center; }

.navbar-brand {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 15px;
  padding-top: 0; }

.logo {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%; }

.nav-section {
  padding-right: 20px;
  font-size: 40px;
  color: white;
  float: right; }

/*jumbotron*/
.jumbotron {
  background: transparent !important;
  height: calc(100vh - 120px);
  margin-top: 0;
  display: flex;
  align-items: center;
  flex-direction: column; }

/*home*/
section {
  min-height: 100vh;
  position: relative; }

section h2 {
  padding-top: 1em; }

section#home h2 {
  padding-top: 0; }

section#home, #contact, #about {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.jumbo-buttons {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center; }

.jumbo-buttons a {
  font-size: 20px;
  color: black;
  text-align: center; }

.jumbo-header {
  font-size: 70px !important; }

.half-width {
  width: 70%;
  padding: 25px;
  line-height: 200%; }

.fright {
  float: right; }

#contact h2 {
  padding-left: 0; }

a {
  color: black; }

section a {
  font-size: 20px;
  line-height: 200%; }

section a:hover {
  color: #17768e; }

/*portfolio*/
.circle {
  border-radius: 50%;
  background-position: center center;
  width: 80vw;
  height: 80vw;
  max-width: 500px;
  max-height: 500px;
  min-height: 200px;
  min-width: 200px;
  margin: 0 auto;
  transition: border-radius 0.2s;
  box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer; }

.slide-inner {
  border-radius: 0;
  background-position: top center;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  transition: border-radius 0.2s;
  box-shadow: none !important;
  cursor: inherit; }

.slick-prev:before, .slick-next:before {
  opacity: 1 !important;
  font-size: 45px !important;
  color: #d2cfcf !important; }

.slick-next:before {
  content: '\f105';
  font-family: "FontAwesome"; }

.slick-prev:before {
  content: '\f104';
  font-family: "FontAwesome"; }

.hidden {
  display: none; }

.slick-initialized .slick-slide {
  outline: none !important; }

.slide-description {
  color: black;
  padding: 2.5em 1.5em; }

.fixed-slider {
  min-height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  z-index: 100; }

/*.slide-wrap.circle.slide-inner:before {
    content: '';
    background: linear-gradient(to right, rgba(255,255,255,0.1) 0%, rgba(254,254,254,0.1) 3%, rgba(246,246,246,0.1) 47%, rgba(255,255,255,0) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}*/
.closeButton {
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0.4);
  z-index: 90000;
  right: 10px;
  font-size: 30px;
  cursor: pointer; }

.closeButton:hover {
  color: white; }

h3.project-title {
  text-align: center;
  font-size: 30px; }

h4.project-outline {
  font-size: 16px;
  font-weight: normal;
  text-align: center; }

.project-description p {
  width: 80%;
  padding: 10px;
  line-height: 150%; }

.bold {
  font-weight: 600; }

.remove-padding {
  padding: 0 !important; }

.project-images img {
  width: 100%;
  margin: 30px auto; }

.project-journey p {
  max-width: 80%;
  margin: 0 auto;
  text-align: center; }

.slick-prev {
  left: 10px !important;
  z-index: 90000; }

.slick-next {
  right: 10px !important;
  z-index: 90000; }

.slider-wrap {
  height: 500px; }

/*about*/
section#about p, section#about a {
  width: 80%;
  padding-left: 20px; }

p.skills-lists {
  padding-top: 20px;
  padding-bottom: 10px; }

.resume-link {
  padding-top: 2em;
  text-align: left; }

/*contact*/
#contact p {
  font-size: 20px; }

@media screen and (min-height: 500px) {
  .slider-wrap {
    height: calc(100vh - 100px); } }

@media screen and (min-width: 800px) {
  .split {
    display: flex;
    min-height: 200px; }
  section#about p, section#about a {
    width: 60%; }
  .left {
    width: 50%; }
  .slick-prev {
    left: 25px !important;
    z-index: 90000; }
  .slick-next {
    right: 25px !important;
    z-index: 90000; }
  .project-images img {
    width: 80%; } }
