p, li, a {
  font-family: "Montserrat", sans-serif; }

h1, h2, h3 {
  font-family: "Montserrat", sans-serif; }

h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }

a {
  text-decoration: none; }

.name-logo {
  font-family: "Montserrat", sans-serif;
  margin-left: 15px;
  font-size: 22px;
  padding-top: 20px; }

.jumbotron h1 {
  font-size: 70px;
  margin-bottom: 0;
  font-weight: 700;
  padding: 0 10px; }

.jumbotron p {
  font-size: 30px; }

body {
  background: linear-gradient(to bottom, rgba(255, 216, 238, 0.3), rgba(199, 249, 246, 0.6));
  margin: 0;
  min-height: 100vh; }

.body-wrap-loader {
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }

/*navbar*/
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center; }

.navbar-brand {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 15px;
  padding-top: 0; }

.logo {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%; }

.nav-section {
  padding-right: 20px;
  font-size: 40px;
  color: white;
  float: right; }

.nav-mobile {
  position: fixed;
  top: 0;
  z-index: 999999;
  width: 100%; }

.nav-mobile i {
  float: right;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  z-index: 9999999;
  position: absolute;
  top: 0;
  right: 0; }

.nav-list {
  float: right;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  padding-top: 40px;
  padding-bottom: 20px;
  height: 100%; }

.nav-list a {
  padding: 10px;
  font-size: 22px;
  font-weight: 600; }

/*jumbotron*/
.jumbotron {
  background: transparent !important;
  height: 100vh;
  margin-top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

/*home*/
section {
  min-height: 100vh;
  position: relative; }

section h2 {
  padding-top: 1em; }

section#home h2 {
  padding-top: 0; }

section#home, #contact, #about {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.jumbo-buttons {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center; }

.jumbo-buttons a {
  font-size: 20px;
  color: black;
  text-align: center; }

.jumbo-header {
  font-size: 70px !important; }

.half-width {
  width: 70%;
  padding: 25px;
  line-height: 200%; }

.fright {
  float: right; }

#contact h2 {
  padding-left: 0; }

a {
  color: black; }

section a {
  font-size: 20px;
  line-height: 200%; }

section a:hover {
  color: #17768e; }

.prompt {
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  display: none;
  justify-content: center; }

.prompt a {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding-left: 0 !important; }

.prompt a i {
  font-size: 30px; }

/*portfolio*/
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.hAuto {
  height: auto !important; }

.circle {
  border-radius: 50%;
  background-position: center center;
  width: 80vw;
  height: 80vw;
  max-width: 500px;
  max-height: 500px;
  min-height: 200px;
  min-width: 200px;
  margin: 0 auto;
  transition: border-radius 0.2s;
  box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer; }

.slide-inner {
  border-radius: 0;
  background-position: top center;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  transition: border-radius 0.2s;
  box-shadow: none !important;
  cursor: inherit; }

.slick-prev:before, .slick-next:before {
  opacity: 1 !important;
  font-size: 45px !important;
  color: #d2cfcf !important; }

.slick-next:before {
  content: '\f105';
  font-family: "FontAwesome"; }

.slick-prev:before {
  content: '\f104';
  font-family: "FontAwesome"; }

.hidden {
  display: none; }

.slick-initialized .slick-slide {
  outline: none !important; }

.slide-description {
  color: black;
  padding: 2.5em 1.5em; }

.fixed-slider {
  min-height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  z-index: 100; }

.hidden {
  display: none; }

.closeButton {
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0.4);
  z-index: 90000;
  right: 10px;
  font-size: 30px;
  cursor: pointer; }

.closeButton:hover {
  color: white; }

h3.project-title {
  text-align: center;
  font-size: 30px; }

h4.project-outline {
  font-size: 16px;
  font-weight: normal;
  text-align: center; }

.project-description p {
  width: 80%;
  padding: 10px;
  line-height: 150%; }

.bold {
  font-weight: 600; }

.remove-padding {
  padding: 0 !important; }

.project-images img {
  width: 100%;
  margin: 30px auto;
  max-width: 700px; }

.project-journey p {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  max-width: 700px; }

.slick-prev {
  left: 10px !important;
  z-index: 90000; }

.slider-wrap {
  position: absolute;
  top: 0px;
  background: white;
  z-index: 99999999;
  width: 100%; }

.slick-next {
  right: 10px !important;
  z-index: 90000; }

.slide-wrap.slider-inner {
  width: 100%;
  height: 400px; }

.project-journey {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.project-images {
  display: flex;
  flex-direction: column; }

/*portfolio2*/
h2 {
  font-size: 40px; }

.portfolio-item {
  width: 45%;
  height: 300px;
  background-position: center center;
  margin-bottom: 50px; }

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px; }

.wrapper {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; }

/*about*/
section#about p, section#about a {
  width: 80%;
  padding-left: 20px; }

p.skills-lists {
  padding-top: 20px;
  padding-bottom: 10px; }

.resume-link {
  padding-top: 2em;
  text-align: left; }

/*contact*/
#contact p {
  font-size: 20px; }

/*footer*/
footer {
  padding: 20px; }

.footer-inner a {
  width: 50%; }

.footer-inner {
  display: flex; }

@media screen and (min-width: 800px) {
  .split {
    display: flex;
    min-height: 200px; }
  section#about p, section#about a {
    width: 60%; }
  .left {
    width: 50%; }
  .slick-prev {
    left: 25px !important;
    z-index: 90000; }
  .slick-next {
    right: 25px !important;
    z-index: 90000; }
  .project-images img {
    width: 80%; } }
